html, body { height: 100%; width: 100%; }
html { font-family: "微软雅黑";-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body {position:relative; margin: 0; font-size: 1.25rem; line-height: 1.5; color: #333333; background-color: #F4F5F6; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;  }
p,ul,h3{ margin:0; padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}


.footer,.consult,.news_list1,.news_img,.content li,.nav_ul{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}

.pd{ padding-bottom:3rem;}
#s1 img{ width:100%;}
.swiper-pagination-bullet {background: #fff; opacity: 1;}
.swiper-pagination-bullet-active{ background:#5495e6;}
#nav .swiper-pagination-bullet {background: #ffc12e; opacity: 1;}
#nav .swiper-pagination-bullet-active{ background:#5495e6;}


#nav{ background:#fff; padding-top:.5rem; padding-bottom:1.25rem; margin-bottom:.5rem;}
#nav img{ display:block; width:2.55rem; height:2.55rem; margin:0 auto;} 
#nav .swiper-wrapper{ width:100%;}
.nav_ul li{ flex:1; color:#666666; font-size:.7rem; text-align:center; border-right: 1px solid #F4F5F6; padding:.5rem 0;}
.nav_ul li:last-child{ border:none;}
.nav_ul.border li{border-bottom:1px solid #F4F5F6; }
.footer{ position:fixed; bottom:0; z-index:2;width: 100%;}
.footer li{flex:1; text-align:center; font-size:.7rem; color:#626262; background:#fff; border-top:1px solid #F4F5F6; border-right: 1px solid #F4F5F6; padding-top:.2rem;}
.footer img{ display:block; width:1.5rem; height:1.45rem; margin:0 auto;}   
.nav li:last-child,.footer li:last-child{ border-right:none;}

.street li{color:#707070; font-size:.85rem; background:url(../images/arrow.jpg) no-repeat right 1.35rem center #FFF;
background-size:.6rem .9rem;padding-left:.75rem; padding-right:1.9rem; height:2.1rem; line-height:2.1rem; margin-top:.3rem;}
.newsFlip-ul {position:relative;height:1.5rem;line-height:1.5rem;font-size:.7rem;color:#666666;overflow:hidden;}
.newsFlip-li {position:absolute;width:100%;height:100%;left:0;top:1.5rem;box-sizing:border-box;padding:0 .36rem;text-align:center;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.newsFlip-li.cur {top:0; }
.newsFlip-li.ani_1 {top:-1.5rem;transition:top 1s linear; }
.newsFlip-li.ani_2 {top:0;transition:top 1s ease; }
.news_icon {width:1.1rem;height:1rem;display:inline-block;margin-right:.2rem;vertical-align:middle; }

.left{width:59%; padding-left:.75rem; margin-right:.5rem; position:relative;}
.right{flex:1; padding-right:.4rem;}
.right img{ width:100%;}
.news_list1{padding:.6rem 0; margin-bottom:.1rem; background:#fff;}
.news_title{ color:#3d3b3b; font-size:.9rem; font-weight:normal;line-height:1.1rem;}
.message{ color:#adacac; font-size:.5rem; position:absolute; bottom:0;}
.message2{ color:#adacac; font-size:.5rem;}
.news .swiper-pagination-bullet {background: #adacac; width:.2rem; height:.2rem;}
.news.swiper-container  .swiper-container-horizontal>.swiper-pagination-bullets{ bottom: 20px;}
.p7{ padding-right:.7rem;}
.news_list2{ background:#fff; padding:.5rem .8rem; margin-bottom:.1rem;}
.news_img { margin:.5rem 0;}
.news_img span{ margin-right:.2rem; flex:1;}
.news_img span:last-child{ margin-right:0;}
.news_img span img{ width:100%;}

.title{ font-size:.8rem; color:#282828; font-weight:normal; padding-left:.6rem; height:2rem; line-height:2rem; margin:.3rem 0;
background:#fff;}
.content,.special{padding:0 .5rem; background:#fff; font-size:.6rem; color:#666666; margin-top:.3rem;}
.content li{border-bottom:1px solid #F4F5F6; padding:.5rem 0; }
.content li:last-child{border-bottom:none;}
.letter{ font-style:normal; letter-spacing:1.3rem;}
.special{ min-height:4.4rem; padding-top:.6rem;}

.news_detail{ padding:.75rem .5rem; color:#3d3b3b;}
.news_detail p{ margin-top:.75rem; margin-bottom:.5rem; line-height:1.2rem;}
.news_content p{ font-size:12px;}