html, body {  width: 100%; }
html { font-family: "微软雅黑";-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; height:100%;
overflow-y:auto; }
body {position:absolute; margin: 0; font-size: 1.25rem; line-height: 1.5; color: #050505; background-color: #f2f2f2; min-height: 100%;box-sizing:border-box; padding-bottom:1.75rem; overflow-x: hidden; -webkit-overflow-scrolling: touch;  }
p,ul,h3,h4{ margin:0; padding:0;}
h3,h4{ font-weight:normal;}
a{ text-decoration:none; color:inherit;}
li{ list-style:none;}


.header_ul,.nav_ul,.footer,.logo_foot,.mask,.tab-menu_ul,.tab-box li,.address,.home_content li{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.nav_ul li,.footer li,.right,.tab-menu_ul li{flex:1;}

.header{ background:#d5050d; padding-left:.95rem; padding-right:.5rem; border-bottom:3px solid #d5050d;}
.header_ul{ height:2.5rem; line-height:2.5rem;}
.header_ul li{ width:13.79%; }
.header_ul .logo{ flex:1;}
.logo img{ width:5.375rem; vertical-align:middle;}
.home{ background:url(../images/white1.png) no-repeat center center/1rem 1rem;}
.search{ background:url(../images/white2.png) no-repeat center center/1rem 1rem;}
.city{ background:url(../images/white3.png) no-repeat center center/1rem 1rem;}
.home.on{ background:url(../images/red1.png) #FFF no-repeat center center/1rem 1rem;}
.search.on{ background:url(../images/red2.png) #FFF no-repeat center center/1rem 1rem;}
.city.on{ background:url(../images/red3.png) #FFF no-repeat center center/1rem 1rem;}
#s1 img{ width:100%;}
.swiper-pagination-bullet {background: #e6e6e6; opacity: 1;}
.swiper-pagination-bullet-active{ background:#d5050d;}
.nav{ background:url(../images/nav_bg.jpg) no-repeat; background-size:cover; margin:.5rem 0;}
.nav_ul li{  font-size:.5rem; text-align:center; padding:.25rem 0;}
.nav_ul li img{ width:3.2rem;}
.search_input{ padding:.25rem; position:relative;}
.search_input input{ border:1px solid #d5050d; border-radius:.2rem; background:#FFF; font-size:1rem; padding-right:1.5rem;
width:91%; line-height:1; outline:none;}
.search_btn{ position:absolute; right:.75rem; top:.6rem; width:1rem; height:1rem;}
.search_btn img{ width:100%;}

.title{ font-size:.7rem; height:1.5rem; line-height:1.5rem; padding-left:.75rem; background:#fff; position:relative; font-weight:normal;}
.more{color:#57585a; font-size:.5rem; position:absolute; right:.75rem;}
.city_detail{ background:url(../images/bg.jpg) no-repeat;background-size:cover; height:6.5rem; margin-top:.5rem;
 position:relative; }
.mask{ background:rgba(0,0,0,.5); position:absolute; left:0; bottom:0; color:#fff; width:100%;  align-items:center;-webkit-align-items:center;-ms-align-items:center;}
.left{flex:1; width:0%;  padding-left:.75rem; }
.right{padding-right:.75rem;}
.left_title{ font-size:.5rem;}
.left_content{ color:#cccccc; font-size:.35rem; white-space:nowrap;overflow:hidden; text-overflow:ellipsis;}
.know{ background:#d5050d; padding: 0 .1rem;  text-align:center; border-radius:.35rem; font-size:.4rem; white-space:nowrap; display:block; margin-right:.75rem; margin-left:.5rem;  }


.footer{ padding:.25rem 0; background:#fff; margin:.5rem 0;}
.footer li{text-align:center; font-size:.5rem; color:#57585a; border-right: 1px solid #cccccc; padding-top:.2rem; }
.footer img{ display:block; width:3rem; height:3rem; margin:0 auto;}
.footer p{margin:.5rem 0;}   
.footer li:last-child{ border-right:none;}
.logo_foot{ width:100%;background:#323131; height:1.75rem;  position:absolute;  bottom:0px;  
 justify-content:center;-webkit-justify-content:center;-ms-justify-content:center;
  align-items:center;-webkit-align-items:center;-ms-align-items:center;}
.logo_foot img{ width:3rem;height:1rem;}

.tab-menu,.tab-box{ padding:0 .75rem; background:#fff;}
.tab-menu{ margin-bottom:.25rem;}
.tab-menu_ul li{ font-size:.5rem; padding-top:.5rem; padding-bottom:.4rem; text-align:center; position:relative;}
.tab-menu_ul li:after{ content:""; position:absolute; width:1px; height:.7rem; background:#cccccc; right:0; top:.7rem;}
.tab-menu_ul li:last-child:after{  width:0; }
.tab-menu_ul li.selected{ border-bottom:2px solid #d5050d;}
.tab-box{color:#57585a; font-size:12px;}
.tab-box li{padding-bottom:.25rem;}
.detail {background:#fff;font-size:.5rem; margin:.5rem 0;}
.detail img{ width:100%; display:block;}
.name{font-size:.6rem;padding-left:.65rem; margin:.4rem 0;}
.address{ color:#57585a; background:url(../images/address.png) no-repeat .65rem .2rem/.48rem .8rem; padding-left:1.5rem; padding-bottom:.2rem;}
.phone{ color:#57585a; background:url(../images/phone.png) no-repeat .65rem .2rem/.8rem .8rem; padding-left:1.5rem;padding-bottom:.5rem;}
.nowrap{ white-space:nowrap;}


.home_bg{position:fixed;top: 0%;left: 0%; width: 100%;height: 100%;z-index: 2;background-color: rgba(0,0,0,0);}
.home_content{ position:absolute;top: 0%;right: -70%;z-index:3; background:#f2f2f2; width:70%;}
.home_title{ font-size:.9rem; height:2.5rem; line-height:2.5rem; border-bottom:1px solid #cccccc; padding-left:.75rem; 
position:relative;}
.home_title:after{ content:""; position:absolute; width:1px; height:2.2rem; background:#cccccc; right:2.5rem; top:.1rem;}
.hide_btn{position:absolute; right:.75rem; top:.6rem;}
.hide_btn img{ width:1.2rem; height:1.2rem;}
.home_content ul{ padding:0 .125rem;}
.home_content li{border-bottom:1px solid #cccccc; height:2.1rem; line-height:2.1rem;color:#57585a; font-size:.8rem; position:relative;}
.home_content li p{ padding-left:2.4rem;}
.arrow img{width:.5rem; height:.88rem;position:absolute; right:.9rem; top:.6rem;}
.menu{ background:url(../images/icon1.jpg) no-repeat .8rem center/.9rem .9rem;color:#d4050d;}
.index{ background:url(../images/icon2.jpg) no-repeat .8rem center/.9rem .9rem;} 
.main{ background:url(../images/icon3.jpg) no-repeat .8rem center/.9rem .9rem;} 
.change{ background:url(../images/icon4.jpg) no-repeat .8rem center/.9rem .9rem;}   
.series{ background:url(../images/icon5.jpg) no-repeat .8rem center/.9rem .9rem;} 
.house{ background:url(../images/icon6.jpg) no-repeat .8rem center/.9rem .9rem;} 
.tel{ background:url(../images/icon7.jpg) no-repeat .8rem center/.9rem .9rem;}
.band{ background:url(../images/icon8.jpg) no-repeat .8rem center/.9rem .9rem;} 
.act{ background:url(../images/icon9.png) no-repeat .8rem center/.9rem .9rem;} 

/*瀑布流*/
.col-2{
-webkit-column-count: 2;
-moz-column-count:2;
column-count: 2;
}
.col-2 li{ padding:1%;display:block;-webkit-column-break-inside: avoid;}
.col-2 li img{width:100%; display:block;}

    
        
       
        
    
        
        
