html, body { height: 100%; width: 100%; }
html { font-family: "微软雅黑";-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body {position:relative; margin: 0; font-size: 1.25rem; line-height: 1.5; color: #333333; background-color: #dcdcdc; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;  }
p,ul,h3{ margin:0; padding:0;}
li{ list-style:none;}


.header,.nav,.footer,.consult{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

.header{color:#FFF; background:#171616;height:1.85rem; line-height:1.85rem;}
.back{ font-size:.7rem; background:url(../images/left.png) no-repeat .9rem center; padding-left:1.6rem; background-size:.5rem .75rem;}
.title{font-size:.8rem; width:70%;text-align:center; }
.user{justify-content:right;} 
.user img{ width:1rem; height:1.1rem; margin-top:.375rem;}
#s1 img{ width:100%;}
.swiper-pagination-bullet {background: #fff; opacity: 1;}
.swiper-pagination-bullet-active {opacity: 1; background: #007aff;}
.nav li{ flex:1; text-align:center; padding-top:.25rem; background:#dcdcdc; border-right:0.2rem solid #eeefef;border-bottom:0.2rem solid #eeefef;}
.nav p{ color:#707070; font-size:.7rem;}
.nav img{ display:block; width:2.5rem; height:2.5rem; margin:0 auto;}  
.footer{ position:fixed; bottom:0; z-index:2;width: 100%;}
.footer li{flex:1; text-align:center; font-size:.7rem; color:#626262; background:#e5e5e5; border-top:1px solid #8c8a8a; border-right: 1px solid #8c8a8a; padding-top:.2rem;}
.footer img{ display:block; width:1.5rem; height:1.45rem; margin:0 auto;}   
.nav li:last-child,.footer li:last-child{ border-right:none;}

.street li{ color:#707070; font-size:.85rem; background: url(../images/right.png) no-repeat right 1.35rem center #FFF;
background-size:.6rem .9rem;padding-left:.75rem; padding-right:1.9rem; height:2.1rem; line-height:2.1rem; margin-top:.5rem;}
.detail{ padding:0 2.25rem; text-align:center; font-size:.85rem; color:#535353;}   
.detail img{ width:100%; margin:2.5rem 0;}
.detail p{ line-height:1.5rem;}
.search{ background:#FFF; padding: .35rem .5rem;position:relative;}
.search input{ border:1px solid #b5b5b5; padding:0.1rem 0 0.1rem 0.2rem; font-size:.7rem; outline:none; width:98%; line-height:1; }
.find{ position:absolute; background:url(../images/find.png) no-repeat; right:.9rem; top:.6rem; width:.8rem; height:.8rem;
background-size:.8rem .8rem;}
.column{ background:#fff; padding:.7rem; margin-top:1.5rem; height:12rem;}
.column_title{ font-size:1rem; color:#626262; font-weight:normal; margin-bottom:.6rem;}
.column_nav li{ flex:1;center;font-size:.75rem; margin-bottom:.6rem;}
.column_nav li a{ color:#707070; margin-right:.4rem;}
.column.grey{ background: #dcdcdc; height:8rem;}
.consult{ padding-bottom:3rem;}
.consult li{ background:#fff;color:#707070;flex:1;center;font-size:.75rem; padding-top:.5rem; padding-bottom:1.3rem;
text-align:center;}
.consult li img{ width:1.7rem; height:1.7rem;} 
.news{}
.newsFlip-ul {position:relative;height:1rem;line-height:1rem;font-size:.75rem;color:#1b1b1b;overflow:hidden;
border-top:.25rem solid #fff;border-bottom:.25rem solid #fff;}
.newsFlip-li {position:absolute;width:100%;height:100%;left:0;top:1rem;box-sizing:border-box;padding:0 .36rem;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
.newsFlip-li.cur {top:0; }
.newsFlip-li.ani_1 {top:-1rem;transition:top 1s linear; }
.newsFlip-li.ani_2 {top:0;transition:top 1s ease; }