.content{
    min-height:650px;
}
.content .map{
    width:860px;
    height:230px;
    margin:10px auto;
    margin-bottom: 0;
    background:url("../img/map.jpg") no-repeat;
    background-size:100% 100%;
}
.content .content-span{
    display: inline-block;
    padding:20px;
    padding-top:0;
    text-indent: 35px;
    line-height: 30px;
}






